section {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}
section div {
  width: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(146, 163, 223);
  color: #fff;
}

section span {
  color: rgb(10, 165, 227);
}

section a {
  display: inline-block;
  background-color: #3a3a3a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 20px 10px 0;
}
