main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.best-seller h2 {
  text-align: center;
  font-size: 2rem;
}

.best-seller .categories {
  text-align: center;
}

input[type="radio"] {
  opacity: 0;
}

.categories span {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  background-color: #ddd;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0;
}

.product {
  text-align: center;
}

.product .product-pic {
  position: relative;
  width: 170px;
}

.product-pic img {
  display: block;
}

.product-pic .no-show {
  position: absolute;
  bottom: 0;
}

.overlay {
  position: absolute;
}

.overlay button {
  position: absolute;
  padding: 8px 15px;
  border: hidden;
  background-color: rgb(25, 59, 127);
  color: #fff;
}

.overlay button:nth-of-type(1) {
  bottom: 60px;
}

.overlay button:nth-of-type(2) {
  bottom: 60px;
  left: 62.5px;
}

.overlay button:nth-of-type(3) {
  bottom: 60px;
  left: 125px;
}
.overlay button:nth-of-type(4) {
  display: block;
  width: 170px;
  padding: 15px 0;
  bottom: 0;
}

.product-info {
  position: absolute;
  margin: 30px 0;
}

.product-info i.yellow {
  color: rgb(234, 181, 7);
}
.product-info i.grey {
  color: #ddd;
}

/* set up checked on categories show up relative sections */
#skincare,
#haircare,
#cosmetics,
#fragrance,
#makeup {
  display: none;
}

#skincare-btn:checked ~ div.categories label span.skincare {
  background-color: rgb(25, 59, 127);
  color: #fff;
}
#skincare-btn:checked ~ .products-wrap > #skincare {
  display: flex;
}

#haircare-btn:checked ~ div.categories label span.haircare {
  background-color: rgb(25, 59, 127);
  color: #fff;
}
#haircare-btn:checked ~ .products-wrap > #haircare {
  display: flex;
}

#cosmetics-btn:checked ~ div.categories label span.cosmetics {
  background-color: rgb(25, 59, 127);
  color: #fff;
}
#cosmetics-btn:checked ~ .products-wrap > #cosmetics {
  display: flex;
}

#fragrance-btn:checked ~ div.categories label span.fragrance {
  background-color: rgb(25, 59, 127);
  color: #fff;
}
#fragrance-btn:checked ~ .products-wrap > #fragrance {
  display: flex;
}

#makeup-btn:checked ~ div.categories label span.makeup {
  background-color: rgb(25, 59, 127);
  color: #fff;
}
#makeup-btn:checked ~ .products-wrap > #makeup {
  display: flex;
}

/* set up hover on product-pic */
.product-pic .no-show {
  display: none;
}

.product-pic:hover .no-show {
  display: block;
}
/* end-hover on product-pic */
