* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Light.ttf);
}

body {
  font-family: "Nunito";
}

.background {
  background-image: url(../images/login-bg2.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh; /*background-size 100% 100% & height 100vh to show 
  backgroundimage with full height and width*/
  background-attachment: fixed;
}
.background .container-login {
  max-width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

.wrap-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrap-login .login-info {
  background-color: #ff574d;
  padding: 50px 20px;
  text-align: center;
  flex-basis: 40%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.login-info .heading-title {
  color: #fff;
}
.login-heading > .heading-title > .jl-logo {
  display: inline-block;
  padding: 0 6px;
  margin-right: 5px;
  color: #ff574d;
  background-color: #fff;
  border-radius: 4px;
}

.login-info .login-desc .description {
  color: #fff;
  margin: 20px 0;
  word-wrap: break-word;
  font-weight: 200;
}

.login-desc .readmore > a {
  color: #ff574d;
  background-color: #fff;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  font-family: "Nunito";
  font-weight: 600;
  border-radius: 4px;
}

.login-info .login-sns {
  margin-top: 30px;
}
.login-info .login-sns > a {
  margin: 0 3px;
  padding: 2px 8px;
  background: #ee4e45;
  color: #fff;
  border-radius: 3px;
}

/* login form */

.wrap-login .login-form {
  flex-basis: 60%;
  background-color: #fff;
  padding: 25px 35px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.login-form .form-heading {
  text-align: center;
  position: relative;
}
.login-form .form-heading > span {
  color: #ff574d;
}
.login-form .top-line {
  border-top: 1px solid #ff574d;
  width: 45px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 20px;

  position: relative;
}

.login-form .user-form {
  margin: 10px 0 20px 0;
}

.user-form .email,
.user-form .password {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  color: #717171;
  border: 1px solid #cecece;
  border-radius: 3px;
}

.user-form .checkme > a {
  display: block;
  float: right;
  overflow: hidden;
  color: #717171;
  text-decoration: none;
  text-align: right;
}

.clearfix {
  clear: both;
}

.user-form .btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 8px 0;
  margin: 20px 0;
  background-color: #ff574d;
  color: #fff;
  border-radius: 3px;
}

.user-form .question {
  text-align: center;
  color: #717171;
}

.user-form .question a {
  text-decoration: none;
  color: #717171;
}

/* arrow between 2div */
.container-login .arrow-right > i {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* use this transform to centering a tag(middle) */
  color: #ff574d;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
