.hero {
  .title {
    h1 {
      @include h1;
      padding-bottom: 15px;
    }
    h2 {
      @include h2;
      padding-bottom: 15px;
    }
    p {
      max-width: 90%;
    }
  }

  // .hero-bg-wrap {
  //   position: relative;
  // }

  // .hero-bg::before {
  //   content: "";
  //   background-color: $green200;
  //   position: absolute;
  //   width: 1500px;
  //   right: -1000px;
  //   height: 100%;
  //   z-index: -2;
  //   overflow: hidden;
  // }

  .hero-bg {
    width: 50vw;
    background-color: $green200;
    border-radius: 16.667px 0px 0px 16.667px;

    padding: 55px 0;
    position: relative;
    min-height: 708px;
    .hero-img {
      width: 60%;
      margin-top: -5px;
      margin-left: -140px;
    }

    .rotate-text {
      font-size: 15.6rem;
      font-weight: 800;
      color: $green1000;
      opacity: 0.15000000596046448;
      line-height: 1;
      width: 40%;
      transform: rotate(90deg);
      position: absolute;
      left: 360px;
      top: 120px;
    }
  }
}
