.products {
  width: 92%;
  margin: 150px auto 0 auto;
  text-align: center;
  h3 {
    @include h3;
    margin-bottom: 150px;
  }
  .product-cards {
    .row {
      .col-md-4 {
        .product-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .card-image {
            .dot-under-down {
              position: absolute;
              top: -80px;
              left: 15px;
              z-index: -1;
            }
          }
          .card-inner {
            h4 {
              @include h4;
              margin: 10px 0;
            }

            p {
              margin: 5px 0;
              font-size: 1.7rem;
            }
          }
          .product-btn {
            margin-top: 25px;
          }
        }
      }
    }
  }
}
