$primariColor: #46b20f;
$secondaryColor: #ff6916;
$textColor: #2c2c2c;
$fonts: Inter, sans-serif;
$fontSize: 1.6rem;
$linkColor: #2c2c2c;
$white: #fff;
$black: #000;
$green1000: #216000;
$green100: #f2ffec;
$green200: #dcffca;
$green300: #c5ffa8;
$orange100: #fff0e7;
$orange200: #ffd5bd;
$orange300: #ffba94;
$grey500: #a3a3a3;
$grey800: #656565;
