* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

.heading {
  max-width: 90%;
  margin: 30px auto;
}

.heading-menu .menu {
  border: 1px solid rgb(220, 220, 220);
  list-style-type: none;
  overflow: hidden;
}
.heading-menu .menu > li {
  border-left: 1px solid rgb(220, 220, 220);
  float: left;
}

.heading-menu .menu > li:nth-child(1) {
  border-left: none;
}
.heading-menu .menu > li:nth-child(5) {
  border-right: 1px solid rgb(220, 220, 220);
}

.menu > li > a {
  display: block;

  padding: 12px 17px;
  color: #666;
  text-decoration: none;
}

.menu > li:hover {
  height: auto;
}

.menu i {
  margin: 0 7px;
  font-size: 0.9rem;
}

.heading-menu .menu > li:nth-child(6) {
  float: right;
}

.menu .dropdown .sub-menu {
  display: none;
  padding-top: 15px;
}

.menu .dropdown .dropdown-content {
  list-style: none;
  min-width: 200px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 0.3);
  z-index: 1;
}

.dropdown-content > li {
  border: 1px solid rgb(220, 220, 220);
}

.dropdown-content > li > a {
  display: block;
  padding: 10px 15px;
  color: #666;
  text-decoration: none;
  border: 2px solid transparent;
}

.dropdown-content-i {
  padding-right: 10px;
}

.dropdown-content::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 30px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.heading .menu a:hover {
  background-color: #2da5da;
  color: #fff;
  border: 2px solid white;
  padding: 10px 15px;
}
.menu #menu-about:hover ~ #sub-menu-about,
.menu #menu-news:hover ~ #sub-menu-news,
.menu #menu-portfolio:hover ~ #sub-menu-portfolio,
#sub-menu-about:hover,
#sub-menu-news:hover,
#sub-menu-portfolio:hover {
  display: block;
  position: absolute;
  top: 70px;
}
