@font-face {
  font-family: "Titillium-regular";
  src: url(/FEK3/Day12/fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "Titillium-black";
  src: url(/FEK3/Day12/fonts/TitilliumWeb-Black.ttf);
}

@font-face {
  font-family: "Rajdhani-bold";
  src: url(/FEK3/Day12/fonts/Rajdhani-Bold.ttf);
}
@font-face {
  font-family: "Rajdhani-regular";
  src: url(/FEK3/Day12/fonts/Rajdhani-Regular.ttf);
}

body {
  font-family: "Rajdhani-regular";
}
