@mixin column($name: "") {
  $prefix: "col";
  @if ($name != "") {
    $prefix: $prefix + "-" + $name;
  }

  @for $i from 1 through 12 {
    .#{$prefix}-#{$i} {
      --column-size: #{$i};
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var($column-space) / 2);
}

.row [class^="col-"] {
  $column-width: calc(100% / (12 / var(--column-size)));
  flex-basis: var($column-width);
  max-width: var($column-width);
  padding: 0 calc(var($column-space) / 2);
}

$breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
);

@include column();

@each $name, $breakpoint in $breakpoints {
  @media screen and (min-width: #{$breakpoint}px) {
    @include column($name);
  }
}
