// :root {
//   --white: #fff;
//   --gray: #3e3f5e;
//   --gray-dark: #343a40;
//   --blue-btn: #23d2e2;
//   --purple-btn: #615dfa;
// --sns-lightblue: #1abcff;
// --sns-darkblue: #3763d2;
// --sns-purple: #7b5dfa;
// --sns-red: #fd434f;

// }

$white: #fff;
$gray: #3e3f5e;
$grayDark: #343a40;
$blueBtn: #23d2e2;
$blueBtnHover: #1bc5d4;
$purpleBtn: #615dfa;
$purpleBtnHover: #5753e4;
$container-width: 1200px;
$column-space: 20px;
