.page-wrap {
  width: 100%;
  height: 100vh;
  background-image: url("/FEK3/Day12/images/landing-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
